{% extends 'base.html' %}

{% block content %}
<!doctype html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Left Column (remove before submission)</p>
        </div>
        <div class="col-6">
        <br>
        <br>
            <h1>Weekly Stock Price</h1>
            <br>
            <div align="center">
                <form class="form-inline" method="POST" action="{{ url_for('comaprestock') }}">
                    <div class="select">
                        <select name="comp_select" class="selectpicker form-control">
                            {% for o in data %}
                                <option value="{{ o.name }}">{{ o.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button" type="submit" >Compare</button>
                </form>
            </div>
        </div>
        <div class="col">
            <p>Right Column (remove before submission)</p>
        </div>
    </div>
</div>

{% endblock %}