{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <br>
            <h1>PAGE TO ADD NEW API</h1>
            <br>
            <h3> </h3>
            <br>
            <h2>FOR FUTURE APP IMPROVEMENTS (TODO's)</h2>
            <br>
            <h1> </h1>
            <br>
            <h4>THIS IS THE FIRST TIME FOR ALL OF US USING G-CLOUD, FLASK, APPENGINE</h4>
        </div>

        <div class="row">
            <div class="container-lg">
                <h1> </h1>
                <h4>SUMMARY</h4>
                <p>We have all learned so much in this class. We all have different fields
                    and professional experiences. We all feel that we worked well as a team
                    and this course pushed us to improve on our knowledge in each of our
                    individual fields. We thank you for the knowledge and opportunity Dr.
                    Lama. We will add you to the GitHub public repository to not only review,
                    but also share if you think this could help another student or organization.
                </p>
                <h3> </h3>
                <h4>Goodluck and thank you, Group 14, Fall 2021</h4>
            </div>
        </div>
    </div>
{% endblock %}