{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <h1>WELCOME TO GROUP 14</h1>
            <br>
            <h2>CLOUD COMPUTING PROJECT</h2>
            <br>
            <br>
            <br>
            <h1>MEET OUR TEAM!</h1>
            <br>
            <br>
            <br>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Shyam Patel</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">See Major</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Keith Turner</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">See Major</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Marcus Toudouze</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">See Major</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kirsten Bonifacio</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">See Major</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-lg">
                <br>
            </div>
        </div>
    </div>
{% endblock %}